<div class="mainColumnFullContainer">
    <div id="addingFormContainer">
        <div class="headerInputs">
            <!--Название-->
            <div class="paramInput" id="appantmentName">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/pen.svg" alt="icon">
                                <p class="title">Название</p>
                            </span>
                <input required type="text" class="niceInput smallInputFont" name="input_name" preloader="">
            </div>
            <!--Город-->
            <div class="paramInput">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/sity.svg" alt="icon">
                                <p class="title">Город</p>
                            </span>
                <select name="input_city" class="niceInput">
                    <option>Зеленоградск</option>
                    <option>Калининград</option>
                    <option>Светлогорск</option>
                    <option>Пионерский</option>
                    <option>Янтарный</option>
                </select>
            </div>
            <!--Координаты-->
            <div class="paramInput" id="appantmentCoordinates">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/map.svg" alt="icon">
                                <p class="title">Координаты</p>
                            </span>
                <input required type="text" class="niceInput smallInputFont slimInput" id="smallInputFont2"
                       name="input_coordinates" preloader="">
            </div>
            <!--Взрослых-->
            <div class="paramInput integer">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/person.svg" alt="icon">
                                <p class="title">Взрослых</p>
                            </span>
                <input required type="number" class="niceInput smallInputFont slimInput" name="input_adult" preloader="">
            </div>
            <!--Детей-->
            <div class="paramInput integer">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/person.svg" alt="icon">
                                <p class="title">Детей</p>
                            </span>
                <input type="number" class="niceInput smallInputFont slimInput" name="input_children" preloader="">
            </div>
            <!--Стоимость-->
            <div class="paramInput integer">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/money.svg" alt="icon">
                                <p class="title">Стоимость, ₽</p>
                            </span>
                <input required type="number" class="niceInput smallInputFont" name="input_summary" preloader="">
            </div>
        </div>
        <div class="editorContainer">
            <div class="editor" id="tafiffList">
                <!--Прикрепить фотографии-->
                <div id="photosPlace" class="descriptionElement">
                    <label class="input-file">
                        <input type="file" name="input_photos" multiple accept="image/*">
                        <span>
                                        <img class="icon" src="icons/clip.svg" alt="icon">
                                        <p class="title">Прикрепить фотографии</p>
                                    </span>
                    </label>
                    <div class="input-file-list"></div>
                </div>
                <!--Список тарифов-->
                <div id="tariffContainer">
                    <div draggable="true" class="descriptionElements tariff">
                        <!--Дата начала-->
                        <div class="paramInput">
                            <span class="flexParamInputEvently">
                                <img width="24" height="24" class="icon" src="icons/clock.svg" alt="icon">
                                <p class="title">С</p>
                                <input type="text" pattern="\d\d-\d\d" class="niceInput" name="input_startDate"
                                       preloader="дд-мм">
                            </span>
                        </div>
                        <!--Дата окончания-->
                        <div class="paramInput">
                            <span class="flexParamInputEvently">
                                <img width="24" height="24" class="icon" src="icons/clock.svg" alt="icon">
                                <p class="title">до</p>
                                <input type="text" pattern="\d\d-\d\d" class="niceInput" name="input_endDate"
                                       preloader="дд-мм">
                            </span>
                        </div>
                        <!--Стоимость-->
                        <div class="paramInput">
                            <span class="flexParamInputEvently">
                                <img width="24" height="24" class="icon" src="icons/money.svg" alt="icon">
                                <input type="number" class="niceInput" name="input_summary_tariff" preloader="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor">
                <div id="description">
                    <!--Площадь, кровать, сдается от-->
                    <div class="headerInputs">
                        <!--Площадь квартиры-->
                        <div class="paramInput">
                            <span class="flexParamInputCenter">
                                <img width="24" height="24" class="icon" src="icons/space.svg" alt="icon">
                                <p class="title">Площадь, м²</p>
                            </span>
                            <input required type="text" class="niceInput" name="input_space" preloader="">
                        </div>
                        <!--Кровать-->
                        <div class="paramInput">
                            <span class="flexParamInputCenter">
                                <img width="24" height="24" class="icon" src="icons/bed.svg" alt="icon">
                                <p class="title">Кровать</p>
                            </span>
                            <input required type="text" class="niceInput" name="input_beds" preloader="">
                        </div>
                        <!--Сдается от-->
                        <div class="paramInput">
                            <span class="flexParamInputCenter">
                                <img width="24" height="24" class="icon" src="icons/clock.svg" alt="icon">
                                <p class="title">Сдается от, дней</p>
                            </span>
                            <input type="number" class="niceInput" name="input_from" preloader="">
                        </div>
                    </div>
                    <!--Описание объекта-->
                    <div class="descriptionElement">
                        <!--Описание-->
                        <div class="paramInput">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/apartment.svg" alt="icon">
                                <p class="title">Описание объекта</p>
                            </span>
                            <textarea rows="10" cols="45" name="input_description"></textarea>
                        </div>
                    </div>
                    <!--Вид из окна, удовства, услуги--->
                    <div class="descriptionElement">
                        <!--Вид из окна-->
                        <div class="paramInput">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/binoculars.svg" alt="icon">
                                <p class="title">Вид из окна</p>
                            </span>
                            <input type="text" class="niceInput" id="smallInputFont3" name="input_view"
                                   preloader="">
                        </div>
                        <!--Удобства-->
                        <div class="paramInput">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/tea.svg" alt="icon">
                                <p class="title">Удобства (через запятую)</p>
                            </span>
                            <input type="text" class="niceInput" id="smallInputFont4" name="input_conveniences"
                                   preloader="">
                        </div>
                        <!--Услуги-->
                        <div class="paramInput">
                            <span class="flexParamInputStart">
                                <img width="24" height="24" class="icon" src="icons/car.svg" alt="icon">
                                <p class="title">Услуги (через запятую)</p>
                            </span>
                            <input type="text" class="niceInput" id="smallInputFont5" name="input_services"
                                   preloader="">
                        </div>
                    </div>
                </div>
                <!--Добавить тариф, сохранить-->
                <div class="headerInputs" id="buttons">
                    <!--Добавить тариф-->
                    <button onclick="createTariff()" type="button" class="bButton">
                        <span class="flexParamInputEvently">
                          <img width="24" height="24" class="icon" src="icons/plus.svg" alt="icon">
                            <p class="title">Добавить тариф</p>
                        </span>
                    </button>
                    <!--Сохранить объект-->
                    <button onclick="save(formData)" type="submit" class="bButton">
                        <span class="flexParamInputEvently">
                            <img width="24" height="24" class="icon" src="icons/save.svg" alt="icon">
                            <p class="title">Сохранить</p>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
