<div id="filters">
    <div id="filterSearch">
        <input type="text" id="filterInput">
<!--        <button class="filterButton" onclick="updateAllApartmentsPageWithFiltersName()">-->
<!--            <img width="24" height="24" class="icon" src="icons/zoom.svg" alt="icon">-->
<!--        </button>-->
    </div>
    <div id="filterCity">
        <select id="filterCityInput" class="niceInput">
            <option>-</option>
            <option>Зеленоградск</option>
            <option>Калининград</option>
            <option>Светлогорск</option>
            <option>Пионерский</option>
            <option>Янтарный</option>
        </select>
        <button class="filterButton" onclick="search()">
            <img width="24" height="24" class="icon" src="icons/zoom.svg" alt="icon">
        </button>
    </div>
</div>
<div id="info">
    <div class="infoBlock" style="background: #d9fad7;">
        <div class="infoBlockTitle">
            <p class="title">Общая площадь, м²</p>
        </div>
        <div class="infoBlockSubtitle">
            <p id="totalSpace" class="subtitle"></p>
        </div>
    </div>
    <div class="infoBlock" style="background: #d7f4fa;">
        <div class="infoBlockTitle">
            <p class="title">Всего объектов</p>
        </div>
        <div class="infoBlockSubtitle">
            <p id="totalApartments" class="subtitle"></p>
        </div>
    </div>
    <div class="infoBlock" style="background: #fad7df">
        <div class="infoBlockTitle">
            <p class="title">Средняя цена, ₽</p>
        </div>
        <div class="infoBlockSubtitle">
            <p id="averagePrice" class="subtitle"></p>
        </div>
    </div>
</div>
<div id="container">

</div>
