#apartment {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--primary-paddings);
    margin-top: var(--primary-margin-top-small);
}

.itemsElement {
    display: flex;
    flex-direction: row;
    padding: var(--primary-paddings);
    margin-right: var(--small-margin);
}