#filters {
    display: flex;
    width: 100%;
    height: 5vh;
    padding: var(--primary-indent);
    justify-content: space-between;
}

#filterSearch {
    display: flex;
    padding: var(--primary-paddings);
}

#filterInput {
    width: var(--primary-input-width);
    border: var(--primary-border-solid);
    border-radius: var(--primary-border-radius);
}

.filterButton {
    font-size: var(--standart-font-size);
    font-family: var(--primary-font-family);
    border: var(--primary-border-none-solid);
    background: var(--primary-button-background-color);
    color: var(--light-text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: var(--small-margin);
    border-radius: var(--primary-border-radius);
}

#container {
    display: flex;
    width: 100%;
    flex-direction: column;
}