#filters {
    display: flex;
    width: var(--main-wight);
    justify-content: end;
    align-items: center;
}

.iconButton {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding: var(--primary-paddings);
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-button-background-color);
    color: var(--light-text-color);
    font-family: var(--primary-font-family);
    border: var(--primary-border-none-solid);
    margin-right: var(--small-inset-pxl);
}

.iconButton .icon:hover {
    width: var(--menu-icon-medium-size);
    height: var(--menu-icon-medium-size);
    transition-duration: var(--animation-time);
    /*box-shadow: 5px 5px 5px var(--primary-negative-text-color);*/
}

.iconButton .icon:not(:hover) {
    width: var(--menu-icon-small-size);
    height: var(--menu-icon-small-size);
    transition-duration: var(--animation-time);
    /*box-shadow: 5px 5px 5px var(--primary-negative-text-color);*/
}

.iconPhotoButton {
    display: block;
    height: 24px;
    text-align: center;
    text-decoration: none;
    padding: var(--primary-paddings);
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-button-background-color);
    color: var(--light-text-color);
    font-family: var(--primary-font-family);
    border: var(--primary-border-none-solid);
    margin-right: var(--small-inset-pxl);
}

#info {
    width: 100%;
    padding-top: var(--primary-paddings);
    padding-bottom: var(--primary-paddings);
    display: flex;
    flex-direction: row;
    justify-content: start;
}



.infoBlockTitle {
    color: var(--gray-text-color);
}

.infoBlockSubtitle {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

#mainColumn {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.apartment {
    font-family: var(--primary-font-family);
    width: var(--main-wight);
    background: var(--gray-background-color);
    border-radius: var(--primary-border-radius);
    margin-bottom: var(--small-inset-pxl);
}

.apartmentRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding-left: var(--primary-paddings);
    padding-right: var(--primary-paddings);
    flex-wrap: wrap;
}

.apartmentRow p {
    margin-right: var(--small-inset-pxl);
    align-self: center;
}

.apartmentRow img {
    align-self: center;
}

.apartmentRow div, .apartmentRow button {
    margin-top: var(--small-inset-pxl);
    margin-bottom: var(--small-inset-pxl);
}

.itemsElement {
    display: flex;
    flex-direction: row;
    background: var(--light-backgroung);
    border-radius: var(--primary-border-radius);
    padding: var(--primary-paddings);
    margin-right: var(--small-inset-pxl);
}

.animate-height {
    height: 0; /* Установите начальную высоту в 0 */
    animation: grow var(--animation-time) ease-in-out forwards; /* Определите вашу анимацию */
}

.animate-height-none {
    animation: grow-none var(--animation-time) ease-in-out forwards; /* Определите вашу анимацию */
}

@keyframes grow {
    from {
        height: 0; /* Начальная высота */
    }
    to {
        height: var(--adding-form-height); /* Конечная высота */
    }
}

@keyframes grow-none {
    from {
        height: var(--adding-form-height); /* Начальная высота */
    }
    to {
        height: 0; /* Конечная высота */
    }
}
