:root {
    --primary-border-radius: 10px;
    --primary-border-none-solid: none;
    --primary-border-solid: solid;
    --primary-paddings: 10px;
    --primary-large-paddings: 20px;
    --primary-indent: 3vh;
    --small-margin: 5px;
    --small-inset-pxl: 10px;
    --primary-max-width: 100%;
    --block-max-width: 40vw;
    --primary-input-width: 10vw;
    --primary-button-background-color: #4d4d4d;
    --gray-background-color: #f5f5f5;
    --light-text-color: #f3f3f3;
    --gray-text-color: #878787;
    --primary-font-family: 'Montserrat', sans-serif;
    --light-backgroung: #ffffff;
    --standart-font-size: medium;
    --font-size-large: large;
    --font-size-x-large: x-large;
    --font-size-xx-large: xx-large;

    --menu-background-color: #232323;
    --menu-border-radius: 20px;
    --menu-button-size: 45px;
    --menu-icon-big-size: 32px;
    --menu-icon-medium-size: 26px;
    --menu-icon-standart-size: 24px;
    --menu-icon-small-size: 20px;

    --left-part-wight: 10vw;
    --right-part-wight: 90vw;

    --edit-container-height: 200px;
    --animation-time: .6s;

    --adding-form-height: 687px;
}

h2, h3 {
    text-align: center;
    font-family: var(--primary-font-family);
    color: var(--gray-text-color);
}

body {
    margin: 0;
    height: 100vh;
}

.generalSeparate {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#mainColumn {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: var(--right-part-wight);
}

.mainColumnFullContainer {
    /*margin-top: 5vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    width: 100%;
}

#menuBlock {
    background: var(--menu-background-color);
    border-radius: var(--menu-border-radius);
    margin: var(--small-inset-pxl);
    padding: var(--primary-paddings);
    height: 60vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainMenu {
    width: var(--left-part-wight);
    display: flex;
    align-items: center;
}

#menuBlock button {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--menu-button-size);
    width: var(--menu-button-size);
    border-radius: 50%;
    border: var(--primary-border-none-solid);
    background: var(--menu-background-color);
}

.buttonHover .icon:hover {
    width: var(--menu-icon-big-size);
    height: var(--menu-icon-big-size);
    transition-duration: var(--animation-time);
    /*box-shadow: 5px 5px 5px var(--primary-negative-text-color);*/
}

.buttonHover .icon:not(:hover) {
    width: var(--menu-icon-standart-size);
    height: var(--menu-icon-standart-size);
    transition-duration: var(--animation-time);
    /*box-shadow: 5px 5px 5px var(--primary-negative-text-color);*/
}

#centerAddingContainer {
display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
}

#appantmentName {
    /*width: 25%;*/
}

#appantmentCoordinates {
    /*width: 15%;*/
}

.integer {
    /*width: 10%;*/
}

.aButton {
    width: 140px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: var(--primary-paddings);
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-button-background-color);
    color: var(--light-text-color);
    font-family: var(--primary-font-family);
    border: var(--primary-border-none-solid)
}

.bButton {
    width: 185px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: var(--primary-paddings);
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-button-background-color);
    color: var(--light-text-color);
    font-family: var(--primary-font-family);
    border: var(--primary-border-none-solid)
}

#atributesContainer, #descriptionContainer, #tariffContainer {
    /*padding-left: var(--primary-large-paddings);*/
    /*padding-right: var(--primary-large-paddings);*/
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    width: 33%;
    min-width: 450px;
    /*height: var(--adding-form-height);*/
    /*background-color: var(--gray-background-color);*/
    /*border-radius: var(--primary-border-radius);*/
}

#descriptionContainer, #tariffContainer {
    margin-left: 10px;
}

#photosContainer {
    height: 300px;
}

.savePhotoButton, #addTariffButton {
   margin-left: var(--small-inset-pxl);
   margin-top: var(--small-inset-pxl);
}

#saveButton {
    margin-left: var(--small-inset-pxl);
    margin-bottom: var(--small-inset-pxl);
}

.headerInputs {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
}

.editorContainer {
    /*width: 500px;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#mainAtrbute, #additionalAtrbute {
    background: var(--gray-background-color);
    padding-left: var(--small-inset-pxl);
    padding-right: 30px;
    border-radius: var(--primary-border-radius);
    height: 334px;
    margin-bottom: var(--small-inset-pxl);
}

#tariffContainer, #photosContainer {
    background: var(--gray-background-color);
    /*padding-left: var(--small-inset-pxl);*/
    /*padding-right: 30px;*/
    border-radius: var(--primary-border-radius);
    /*margin-bottom: var(--small-inset-pxl);*/
}

#left {
    width: 50%;
}

.editor {
}

.descriptionElement {
    height: 368px;
    margin-bottom: var(--small-inset-pxl);
    background: var(--gray-background-color);
    /*margin-top: var(--small-inset-pxl);*/
    display: inline-block;
    border: var(--primary-border-none-solid);
    border-radius: var(--primary-border-radius);
    min-width: var(--primary-max-width);
}

.descriptionElements {
    /*margin-top: var(--small-inset-pxl);*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: var(--primary-border-none-solid);
    border-radius: var(--primary-border-radius);
    min-width: var(--primary-max-width);
    border-color: var(--gray-text-color);
    background: var(--gray-background-color);
}

.flexParamInputCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexParamInputStart {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.flexParamInputBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexParamInputEvently {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flexAlignBeween {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: inherit;
}


.descriptionElements .paramInput {
    width: var(--primary-input-width);
    border-radius: var(--primary-border-radius);
    padding: var(--primary-paddings);
}

#description {
    max-width: var(--block-max-width);
    padding: var(--primary-large-paddings);
    background: var(--light-backgroung);
    border-radius: var(--primary-border-radius);
}

#description .paramInput, #description input, #description textarea {
    background: var(--light-backgroung);
}

/*    var formData = new FormData;
*/
/*formData.append('image_' + i, file);*/

#tafiffList {
    /*max-width: 75%;*/
    height: 84%;
}

#tafiffList {
    overflow-x: auto;
    max-height: 560px;
    margin-bottom: var(--small-inset-pxl);
    margin-top: var(--small-inset-pxl);
}

#tariffContainer {
    height: 680px;
    /*height: 296px;*/
    /*width: 85%;*/
    /*min-height: 117px;*/
    /*background: var(--gray-background-color);*/
    /*border-radius: var(--primary-border-radius);*/
}

.title {
    margin: 3px;
    font-family: var(--primary-font-family);
    font-size: var(--standart-font-size);
    /*color: var(--primary-text-color);*/
}

.subtitle {
    font-family: var(--primary-font-family);
    font-size: var(--font-size-xx-large);
    margin: var(--small-inset-pxl);
}

.flexParamInputEvently .title {
    /*color: var(--primary-text-color);*/
}

span .niceInput {
    text-align: center;
}

#photosPlace {
    width: 100%;
}

div.paramInput input, div.paramInput select {
    border: var(--primary-border-none-solid);
    border-radius: var(--primary-border-radius);
    width: 100%;
    font-size: var(--standart-font-size);
    outline: none;
    padding: 10px;
    font-family: var(--primary-font-family);
    /*background: var(--gray-background-color);*/
}

div.paramInput textarea {
    margin-top: var(--primary-indent);
    border: var(--primary-border-none-solid);
    border-radius: var(--primary-border-radius);
    width: 100%;
    max-width: 38vw; /*Не знаю почему тут надо 38, а не 40*/
    max-height: 28vh;
    outline: none;
    font-family: var(--primary-font-family);
    background: var(--light-backgroung);
}

div.paramInput select {
    /*border: none;*/
    /*text-align: center;*/
    /*font-size: var(--standart-font-size);*/
    /*outline: none;*/
    /*font-family: var(--primary-font-family);*/
    /*background: var(--gray-background-color);*/
}

#buttons {
    margin-top: var(--primary-indent);
}

.smallInputFont {
    font-size: var(--font-size-large);
    text-align: start;
}

.slimInput {
    width: 300px;
}

.paramInput {
    display: block;
    padding: var(--primary-paddings);
    /*padding-right: var(--primary-paddings);*/
}

.additionalParamInput {
    /*width: 65%;*/
}

.paramInputInt {
    width: 300px;
    padding: var(--primary-paddings);
}

.dateInput {
    text-align: center;
    border: var(--primary-border-solid);
    border-color: var(--gray-text-color);
    border-radius: var(--primary-border-radius);
    font-family: var(--primary-font-family);
    font-size: var(--font-size-x-large);
}

.spacer {
    display: block;
    height: 5vmin;
}

#previewImages {
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: var(--small-inset-pxl);
    width: 93%;
}

.photoElements {
    max-height: 225px;
    max-width: 100%;
    margin: 0 5px;
    border-radius: var(--primary-border-radius);
}

#addImages {

}

.fileInput {
    width: 0;
    height: 0;
    opacity: 0;
}