:root {
    --primary-border-radius: 10px;
    --primary-border-none-solid: none;
    --primary-border-solid: solid;
    --primary-paddings: 10px;
    --primary-large-paddings: 20px;
    --primary-margin-top: 3vh;
    --primary-margin-top-small: 10px;
    --primary-max-width: 100%;
    --block-max-width: 40vw;
    --primary-input-width: 10vw;
    --primary-button-background-color: #4d4d4d;
    --gray-background-color: #f5f5f5;
    --primary-negative-text-color: #f3f3f3;
    --primary-text-color: #878787;
    --primary-font-family: 'Montserrat', sans-serif;
    --light-backgroung: #ffffff;
    --font-size-large: large;
    --font-size-x-large: x-large;

    --menu-background-color: #232323;
    --menu-border-radius: 20px;
    --menu-button-size: 45px;
    --menu-icon-big-size: 32px;
    --menu-icon-standart-size: 24px;

    --left-part-wight: 7vw;
    --right-part-wight: 87vw;
}

h2, h3 {
    text-align: center;
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
}

body {
    margin: 0;
    height: 100vh;
}

.generalSeparate {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.mainColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--right-part-wight);
}

#menuBlock {
    background: var(--menu-background-color);
    border-radius: var(--menu-border-radius);
    margin: var(--primary-margin-top-small);
    padding: var(--primary-paddings);
    height: 60vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainMenu {
    width: var(--left-part-wight);
    display: flex;
    align-items: center;
}

#menuBlock button{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--menu-button-size);
    width: var(--menu-button-size);
    border-radius: 50%;
    border: var(--primary-border-none-solid);
    background: var(--menu-background-color);
}

.innerShadowHover .icon:hover {
    width: var(--menu-icon-big-size);
    height: var(--menu-icon-big-size);
    transition-duration: .8s;
    /*box-shadow: 5px 5px 5px var(--primary-negative-text-color);*/
}

.innerShadowHover .icon:not(:hover) {
    width: var(--menu-icon-standart-size);
    height: var(--menu-icon-standart-size);
    transition-duration: .8s;
    /*box-shadow: 5px 5px 5px var(--primary-negative-text-color);*/
}

#appantmentName {
    width: 25%;
}

#appantmentCoordinates {
    width: 15%;
}

.integer {
    width: 10%;
}

.aButton {
    width: 140px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: var(--primary-paddings);
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-button-background-color);
    color: var(--primary-negative-text-color);
    font-family: var(--primary-font-family);
    border: var(--primary-border-none-solid)
}

.bButton {
    width: 185px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: var(--primary-paddings);
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-button-background-color);
    color: var(--primary-negative-text-color);
    font-family: var(--primary-font-family);
    border: var(--primary-border-none-solid)
}

.flexRowEditor {
    padding: var(--primary-large-paddings);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: var(--gray-background-color);
    border-radius: var(--primary-border-radius);
}

.headerInputs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.editorContainer {
    margin-top: 7vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.editor {
}

.descriptionElement {
    margin-top: var(--primary-margin-top-small);
    display: inline-block;
    border: var(--primary-border-none-solid);
    border-radius: var(--primary-border-radius);
    min-width: var(--primary-max-width);
}

.descriptionElements {
    margin-top: var(--primary-margin-top-small);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: var(--primary-border-none-solid);
    border-radius: var(--primary-border-radius);
    min-width: var(--primary-max-width);
    border-color: var(--primary-text-color);
    background: var(--gray-background-color);
}

.flexParamInputCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexParamInputStart {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.flexParamInputEvently {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.descriptionElements .paramInput {
    width: var(--primary-input-width);
    border-radius: var(--primary-border-radius);
    padding: var(--primary-paddings);
}

#description {
    max-width: var(--block-max-width);
    padding: var(--primary-large-paddings);
    background: var(--light-backgroung);
    border-radius: var(--primary-border-radius);
}

#description .paramInput, #description input, #description textarea {
    background: var(--light-backgroung);
}

#tafiffList {
    max-width: 35vw;
}

.text {
    margin: 3px;
    font-family: var(--primary-font-family);
    /*color: var(--primary-text-color);*/
}

.flexParamInputEvently .text{
    /*color: var(--primary-text-color);*/
}

span .niceInput{
    text-align: center;
}

#photosPlace {
    width: 100%;
}

div.paramInput input {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    font-size: var(--font-size-x-large);
    outline: none;
    font-family: var(--primary-font-family);
    background: var(--gray-background-color);
}

div.paramInput textarea {
    margin-top: var(--primary-margin-top);
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    max-width: 38vw; /*Не знаю почему тут надо 38, а не 40*/
    max-height: 28vh;
    outline: none;
    font-family: var(--primary-font-family);
    background: var(--light-backgroung);
}

div.paramInput select {
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    font-size: var(--font-size-x-large);
    outline: none;
    font-family: var(--primary-font-family);
    background: var(--gray-background-color);
}

#buttons {
    margin-top: var(--primary-margin-top);
}

.smallInputFont{
    font-size: var(--font-size-large);
    text-align: start;
}

.slimInput {
    width: 300px;
}

.paramInput {
    display: block;
    padding: var(--primary-paddings);
}

.paramInputInt {
    width: 300px;
    padding: var(--primary-paddings);
}

.dateInput{
    text-align: center;
    border: var(--primary-border-solid);
    border-color: var(--primary-text-color);
    border-radius: var(--primary-border-radius);
    font-family: var(--primary-font-family);
    font-size: var(--font-size-x-large);
}

.spacer {
    display: block;
    height: 5vmin;
}
